<!--
<body>


<div class="row">
    <div class="col-md-4 col-md4-offset-4">
        <h1> Sign Up</h1>
        <form action="/user/signup" method="post">
            <div class="form-group ">
                <label for="email"> Ingrese su E-Mail: </label>
                <input type="text" id="email" name="email" class="form-control">
            </div>
            <div class="form-group ">
                <label for="password"> Ingrese su Password: </label>
                <input type="password" id="password" name="password" class="form-control">
            </div>
            <input type="hidden" id="_csrf" value="{{ csrfToken }}">
            <button type="submit">Sign Up</button>
        </form>
    </div>
</div>
</body>
-->


<div class="container">
    <div class="card card-login mx-auto mt-5">
        <div class="card-header">Bienvenido a {{title}}</div>
        <div class="card-body">
            <form action="/login" autocomplete="off" method="POST">

                <div class="form-group">
                    <label for="exampleInputEmail1">Email</label>
                    <input class="form-control" name="email" type="email" aria-describedby="emailHelp"
                           placeholder="Email">
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Contraseña</label>
                    <input class="form-control" name="password" type="password" placeholder="Contraseña">
                </div>
                <button class="btn btn-primary btn-block" type="submit">Ingresar</button>
                <hr>
                {{{error}}}
            </form>
            <div class="text-center">
                <a class="d-block small mt-3" href="/registrarse">Registrate</a>
                <br>
                <a class="d-block small" href="/recuperar">Olvidaste la Contraseña ?</a>
            </div>
        </div>
    </div>
</div>
